[Desktop Entry]
Type=Application
Version=1.0
Name=Ranger FM
GenericName=File manager
Comment=File manager to the console
Exec=env RANGER_LOAD_DEFAULT_RC=FALSE urxvtcd -name Ranger -title Ranger -e ranger %F
#Exec=env RANGER_LOAD_DEFAULT_RC=FALSE ranger %F
Terminal=true
Icon=system-file-manager
MimeType=inode/directory;
Categories=Utility;FileManager;
